<footer>
    <div class="container-grid ft">
      <div class="endereco">
        <p>Endereço: Rua Akira , 23 - Rio de Janeiro, RJ</p>
        <p>Contato: (21) 9999-9999</p>
        <p>E-mail:contato@gamemania.com</p>
        <p>CNPJ:00.000.000/0000-00</p>
      </div>

      <div class="sociais">
        <p>Redes Sociais</p>
        <a href="#"><img src="./assets/img/insta.png" alt="" /></a>
        <a href="#"><img src="./assets/img/face.png" alt="" /></a>
        <a href="#"><img src="./assets/img/zap.png" alt="" /></a>
      </div>
    </div>
  </footer>