<app-header></app-header>

  <section class="banner">
    
      
    <div class="container container-banner">
      
      <div class="conteudo-banner1">
        <h1>Game Mania</h1>
        <p>Essa semana com 35% off em tecnologia!</p>
      </div>



      <a href=""><button type="button" class="btn btn-primary">Aproveite</button></a>
      
      
    </div>
    
  </section>

  <section class="container-grid slide-carrosel">

    
    <div id="idslide-carrosel">
      
      
      <div class="circulo c1">
        <a href="#">
          <img src="./assets/img/circuloconsole.png" alt="Console" />
          <h2>Consoles</h2>
        </a>
      </div>
    

    
      <div class="circulo c2">
        <a href="#"><img src="./assets/img/circuloipad.png" alt="Tablets" />
       <h2>Tablets</h2></a>
      </div>
      
      
      <div class="circulo c3">
        <a href="#"><img src="./assets/img/circuloiphone.png" alt="Celular" />
        <h2>Celular</h2></a>
      </div>

      <div class="circulo c4">
        <a href="#"><img src="./assets/img/circulogames.png" alt="Games" />
        <h2>Games</h2></a>
      </div>


      <div class="circulo c1">
        <a href="#"><img src="./assets/img/circuloconsole.png" alt="Console" />
          <h2>Consoles</h2></a>
      </div>
    

    
      <div class="circulo c2">
        <a href="#"><img src="./assets/img/circuloipad.png" alt="Tablets" />
       <h2>Tablets</h2></a>
      </div>
      
      
      <div class="circulo c3">
        <a href="#"><img src="./assets/img/circuloiphone.png" alt="Celular" />
        <h2>Celular</h2></a>
      </div>

      <div class="circulo c4">
        <a href="#"><img src="./assets/img/circulogames.png" alt="Games" />
        <h2>Games</h2></a>
      </div>


      <div class="circulo c1">
        <a href="#"><img src="./assets/img/circuloconsole.png" alt="Console" />
          <h2>Consoles</h2></a>
      </div>
    

    
      <div class="circulo c2">
        <a href="#"><img src="./assets/img/circuloipad.png" alt="Tablets" />
       <h2>Tablets</h2></a>
      </div>
      
      
      <div class="circulo c3">
        <a href="#"><img src="./assets/img/circuloiphone.png" alt="Celular" />
        <h2>Celular</h2></a>
      </div>

      <div class="circulo c4">
        <a href="#"><img src="./assets/img/circulogames.png" alt="Games" />
        <h2>Games</h2></a>
      </div>

      
  </div>
  </section>





  <section class="container-grid slides-retangulos">

    <div id="carouselExampleDark" class="carousel carousel-dark slide slide-retangulo-1" data-bs-ride="carousel">
   
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <a href="#"><img src="./assets/img/perifericosmobile.jpg" alt="Periféricos" class="d-block w-100" alt="..."></a>
          <div class="carousel-caption d-none d-md-block">
          
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <a href="#"><img src="./assets/img/bannergamemaniamobile.png" class="d-block w-100" alt="..."></a>
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      

        
      </div>


      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>









  </section>








  <section class="container-grid produtos-BG">
    <h2>As ofertas mais vendidas do mês</h2>

    <section class="produtos">
      <div class="produto">
        <a href="#">
          <img src="./assets/img/notebook2.jpg" alt="" />
        </a>
        <div div class="bgimage">
          <h1>Notebook Gamer</h1>
          <p>R$5999,00</p>
        </div>
        <a href="#" class="lk-comprar">
          <button class="bt-compra">Comprar</button>
        </a>
      </div>

      <div class="produto">
        <a href="#">
          <img src="./assets/img/pcGamer.png" alt="" />
        </a>
        <div class="bgimage">
          <h1>PC Gamer</h1>
          <p>R$8999,00</p>
        </div>
        <a href="#"><button class="bt-compra">Comprar</button></a>
      </div>

      <div class="produto">
        <a href="#">
          <img src="./assets/img/iphone.jpg" alt="" />
        </a>
        <div class="bgimage">
          <h1>Iphone</h1>
          <p>R$7999,00</p>
        </div>
        <a href="#"><button class="bt-compra">Comprar</button></a>
      </div>

      <div class="produto">
        <a href="#">
          <img src="./assets/img/celular.jpg" alt=""/>
        </a>
        <div class="bgimage">
          <h1>Celular Samsung</h1>
          <p>R$2999,00</p>
        </div>
        <a href="#"><button class="bt-compra">Comprar</button></a>
      </div>

      <div class="produto">
        <a href="#">
          <img src="./assets/img/notebook2.jpg" alt="" />
        </a>
        <div div class="bgimage">
          <h1>Notebook Gamer</h1>
          <p>R$5999,00</p>
        </div>
        <a href="#" class="lk-comprar">
          <button class="bt-compra">Comprar</button>
        </a>
      </div>

      <div class="produto">
        <a href="#">
          <img src="./assets/img/pcGamer.png" alt="" />
        </a>
        <div class="bgimage">
          <h1>PC Gamer</h1>
          <p>R$8999,00</p>
        </div>
        <a href="#"><button class="bt-compra">Comprar</button></a>
      </div>

      <div class="produto">
        <a href="#">
          <img src="./assets/img/iphone.jpg" alt="" />
        </a>
        <div class="bgimage">
          <h1>Iphone</h1>
          <p>R$7999,00</p>
        </div>
        <a href="#"><button class="bt-compra">Comprar</button></a>
      </div>

      <div class="produto">
        <a href="#">
          <img src="./assets/img/celular.jpg" alt=""/>
        </a>
        <div class="bgimage">
          <h1>Celular Samsung</h1>
          <p>R$2999,00</p>
        </div>
        <a href="#"><button class="bt-compra">Comprar</button></a>
      </div>


      <div class="produto">
        <a href="#">
          <img src="./assets/img/notebook2.jpg" alt="" />
        </a>
        <div div class="bgimage">
          <h1>Notebook Gamer</h1>
          <p>R$5999,00</p>
        </div>
        <a href="#" class="lk-comprar">
          <button class="bt-compra">Comprar</button>
        </a>
      </div>

      <div class="produto">
        <a href="#">
          <img src="./assets/img/pcGamer.png" alt="" />
        </a>
        <div class="bgimage">
          <h1>PC Gamer</h1>
          <p>R$8999,00</p>
        </div>
        <a href="#"><button class="bt-compra">Comprar</button></a>
      </div>

      <div class="produto">
        <a href="#">
          <img src="./assets/img/iphone.jpg" alt="" />
        </a>
        <div class="bgimage">
          <h1>Iphone</h1>
          <p>R$7999,00</p>
        </div>
        <a href="#"><button class="bt-compra">Comprar</button></a>
      </div>

      <div class="produto">
        <a href="#">
          <img src="./assets/img/celular.jpg" alt=""/>
        </a>
        <div class="bgimage">
          <h1>Celular Samsung</h1>
          <p>R$2999,00</p>
        </div>
        <a href="#"><button class="bt-compra">Comprar</button></a>
      </div>




     
    </section>
  </section>
 

  <app-footer></app-footer>