<header>
    <div class="container-grid cabecalho">

      <a href="./index.html"><img class="logo" alt="Logotipo Game Mania" src="./assets/img/logobranco.png"/></a>

      <a  routerLink=""><img class="icone-menu" id="idicone-menu" src="./assets/img/menubarras.png" alt="Ícone do menu de barras"></a>

      <input class="busca1" placeholder="Busque aqui o seu Produto " type="search"/>

      <div class="container-grid conta">
        <a id="img-login" routerLink="/login"><img src="./assets/img/user2.png" alt="Conta"/></a>
        <a href="#"><img src="./assets/img/cesta.png" alt="Cesta" /></a>
      </div>

    </div>

    <div class="menu" id="menu">
        <input class="busca2" placeholder="Busque aqui o seu Produto " type="search"/>
        <a onclick="mostarMenu()" ><img class="icone-menu2" id="icone-menu2" src="./assets/img/menubarras.png" id="idicone-menu2" alt="Ícone do menu de barras"></a>

        <nav class="container-grid" id="links">
        <a href="#" class="item-menu">Celulares</a>
        <a href="#" class="item-menu">Pc Gamer</a>
        <a href="#" class="item-menu">Computador</a>
        <a href="#" class="item-menu">Nootebook</a>
        <a href="#" class="item-menu">Periféricos</a>
        <a href="#" class="item-menu">Consoles</a>
        <a href="#" class="item-menu">Jogos</a>
        </nav>
    </div>
    
  </header>


  
  <!-- <div class="container-grid menu" id="menu">
    <input class="busca2" placeholder="Busque aqui o seu Produto " type="search"/>
    <a onclick="mostarMenu()" routerLink="#"><img class="icone-menu2" id="icone-menu2" src="./assets/img/menubarras.png" id="idicone-menu2" alt="Ícone do menu de barras"></a>

    <nav id="links">
    <a href="#" class="item-menu">Celulares</a>
    <a href="#" class="item-menu">Pc Gamer</a>
    <a href="#" class="item-menu">Computador</a>
    <a href="#" class="item-menu">Nootebook</a>
    <a href="#" class="item-menu">Periféricos</a>
    <a href="#" class="item-menu">Consoles</a>
    <a href="#" class="item-menu">Jogos</a>
    </nav>
</div> -->